<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Name Your Band</title>
   </head>
   <body>
      <div class="navbar">
         <div class="logo"><a href="index.html" style="text-decoration: none; color: black;">Name Your Band♫ </a></div>
         <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact us</a></li>
         </ul>
      </div>
      <!--close navbar-->
      <div class="container">
      <p>Put a word you like!</p>
      <div id="input a word">
         <form method="post" action="/userinput">
            <label for="keyword">keyword:</label>
            <input type="text" id="keyword" name="keyword" required="required">
            <input type="submit" value="Submit" id="submit-
         </form>
         </form>
      </div>
   </body>
</html>